<?xml version="1.0"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2022, Todd Lininger Design, LLC. All rights reserved. * https://toddlininger.com * See LICENSE.txt for details.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="todd_lininger" translate="label" sortOrder="210">
            <label>Todd Lininger Design</label>
        </tab>
        <section id="tl_class_attachments" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Class Attachments</label>
            <tab>todd_lininger</tab>
            <resource>ToddLininger_ClassManager::config_class_attachments</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="include_attachments_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Include product attachments in emails</label>
                    <comment>
                        <![CDATA[
                            If enabled, links to file downloads associated with the class product (using MageWorx extension) will be included in relevant emails (registration confirmation, reminders, changes, Zoom join links)
                        ]]>
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
